// Colors
$color-white: #fff;
$color-black: #000;

$title-gray: #ffffff;
$normal-gray: #e6e6e6;
$light-gray: #9f9f9f;
$lighter-gray: #7e7e7e;
$border-gray: #dfe2e6;
$bg-alt-gray: #fafafa;
$bg-gray: #fcfcfc;

$color-primary-100: #CEFDF5;
$color-primary-200: #9EFBF3;
$color-primary-300: #6CF5F4;
$color-primary-400: #47E1EC;
$color-primary-500: #10C2E0;
$color-primary-600: #0B98C0;
$color-primary-700: #0873A1;
$color-primary-800: #055281;
$color-primary-900: #033B6B;

$color-blue-100: #C8FAEE;
$color-blue-200: #93F6E6;
$color-blue-300: #5BE3D9;
$color-blue-400: #32C8C9;
$color-blue-500: #0097A5;
$color-blue-600: #00768D;
$color-blue-700: #005976;
$color-blue-800: #00405F;
$color-blue-900: #002E4F;

$color-red-100: #F9D0CC;
$color-red-200: #F49B9C;
$color-red-300: #DE6572;
$color-red-400: #BE3D57;
$color-red-500: #930E36;
$color-red-600: #7E0A38;
$color-red-700: #690738;
$color-red-800: #550434;
$color-red-900: #460231;

$color-green-100: #cefddf;
$color-green-200: #9efac0;
$color-green-300: #6df8a0;
$color-green-400: #3cf680;
$color-green-500: #0cf262;
$color-green-600: #09c34d;
$color-green-700: #07923a;
$color-green-800: #056127;
$color-green-900: #023113;

$color-yellow-100: #FEFCCC;
$color-yellow-200: #FEF99A;
$color-yellow-300: #FEF568;
$color-yellow-400: #FDF143;
$color-yellow-500: #FCEB05;
$color-yellow-600: #D8C803;
$color-yellow-700: #B5A602;
$color-yellow-800: #928501;
$color-yellow-900: #786D00;

//BgColor
$bg-color: #020617;

// Fonts
$font-regular: 'Inter';

// Font size
$h1-font-size: 2.125rem; //34px
$h2-font-size: 1.875rem; //30px
$h3-font-size: 1.5rem; //24px
$h4-font-size: 1.375rem; //22px
$bigger-font-size: 1.125rem; //18px
$normal-font-size: 1rem; //16px
$small-font-size:  0.875rem; //14px

// Max width
$max-width: 1200px;

// Header height
$header-height: 56px;

// Border Radius
$normal-border-radius: 6px;
$regular-border-radius: 8px;
$big-border-radius: 12px;

// Box-shadow
$box-shadow: 0 2px 6px -6px;
$box-shadow-regular: 0 4px 12px -8px;
$box-shadow-bold: 0 6px 16px -12px;

// Transition
$transition-time: .15s;

// z-index
$z-index-menu: 1000;