:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  --title-gray: #ffffff;
  --normal-gray: #e6e6e6;
  --light-gray: #9f9f9f;
  --lighter-gray: #7e7e7e;
  --border-gray: #dfe2e6;
  --bg-alt-gray: #fafafa;
  --bg-gray: #fcfcfc;

  --color-primary-100: #cefdf5;
  --color-primary-200: #9efbf3;
  --color-primary-300: #6cf5f4;
  --color-primary-400: #47e1ec;
  --color-primary-500: #10c2e0;
  --color-primary-600: #0b98c0;
  --color-primary-700: #0873a1;
  --color-primary-800: #055281;
  --color-primary-900: #033b6b;

  --color-blue-100: #c8faee;
  --color-blue-200: #93f6e6;
  --color-blue-300: #5be3d9;
  --color-blue-400: #32c8c9;
  --color-blue-500: #0097a5;
  --color-blue-600: #00768d;
  --color-blue-700: #005976;
  --color-blue-800: #00405f;
  --color-blue-900: #002e4f;

  --color-red-100: #f9d0cc;
  --color-red-200: #f49b9c;
  --color-red-300: #de6572;
  --color-red-400: #be3d57;
  --color-red-500: #930e36;
  --color-red-600: #7e0a38;
  --color-red-700: #690738;
  --color-red-800: #550434;
  --color-red-900: #460231;

  --color-green-100: #cefddf;
  --color-green-200: #9efac0;
  --color-green-300: #6df8a0;
  --color-green-400: #3cf680;
  --color-green-500: #0cf262;
  --color-green-600: #09c34d;
  --color-green-700: #07923a;
  --color-green-800: #056127;
  --color-green-900: #023113;

  --color-yellow-100: #fefccc;
  --color-yellow-200: #fef99a;
  --color-yellow-300: #fef568;
  --color-yellow-400: #fdf143;
  --color-yellow-500: #fceb05;
  --color-yellow-600: #d8c803;
  --color-yellow-700: #b5a602;
  --color-yellow-800: #928501;
  --color-yellow-900: #786d00;

  /* BgColor */
  --bg-color: #020617;

  /* Fonts */
  --font-roboto: "Roboto";
  --font-os-semibold: "OpenSans-semibold";
  --font-os-regular: "OpenSans-regular";

  /* Font size */
  --h1-font-size: 34px;
  --h2-font-size: 30px;
  --h3-font-size: 24px;
  --h4-font-size: 22px;
  --bigger-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 14px;

  /* Max width */
  --max-width: 1200px;

  /* Border Radius */
  --normal-border-radius: 6px;
  --regular-border-radius: 8px;
  --big-border-radius: 12px;

  /* Box-shadow */
  --box-shadow: 0 2px 6px -6px;
  --box-shadow-regular: 0 4px 12px -8px;
  --box-shadow-bold: 0 6px 16px -12px;

  /* Transition */
  --transition-time: 0.15s;

  /* z-index */
  --z-index-menu: 1000;

  /* Font size */
  --h1-font-size: 48px;

  /* Header height */
  --header-height: 56px;
}
