<footer class="footer">
  <div class="container footer__container">
    <div class="footer__box">
      <p>&copy; 2024 Christan - Frontend Developer</p>
    </div>
  </div>
  <img
    src="https://librecounter.org/counter.svg"
    referrerpolicy="unsafe-url"
    width="0"
    loading="eager"
    fetchpriority="low"
    decoding="async"
  />
</footer>

<style lang="scss">
  .footer {
    margin-top: 64px;
    &__container {
      padding: 1rem;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.015);
    }
    img {
      display: none;
    }
  }

  @media screen and (min-width: 992px) {
    .footer {
      &__container {
        border-radius: 12px;
      }
    }
  }
</style>
