---
import "../styles/App.scss";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="image"
      imagesrcset="/assets/images/logo.svg"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      imagesrcset="https://media.licdn.com/dms/image/D5635AQGXW0U7XhrOLA/profile-framedphoto-shrink_100_100/0/1660002772504?e=1708142400&v=beta&t=zRechk9QeGA4BzNj9Hbc_ZXTfD8eEbMMrutUrJRDwwQ"
      fetchpriority="high"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
